body {
    margin: 0;
    background-color: #00B4D8;

}

div {
    box-sizing: border-box;
}

#topBar {
    background-color: #08045E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16vh;
}
  
.logo {

display: flex;
justify-content: center;
align-items: center;
height: 64%;
width: 25vw;
}

.logo h1 {
    color: #FFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 2.4vw;
    margin-left: 5%;
  }

.logo img {
    width: 20%;
    height: auto;
    color: #FFFF;
}

.toolsContainer {
    display: flex;
    justify-content: flex-end;
    height: 64%;
    align-items: center;
    width: 75vw;
}



#topBar {
    background-color: #08045E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16vh;
  
}
    

  
.searchBlock {
    display:flex;
    background-color: #CAF0F8;
    border-radius: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5vw;
    height: 100%;
    width: 30vw;
    position: relative;
}
  
    .searchBlock p {
        margin-top: 2.5%;
        margin-bottom: 0;
        margin-left: 7.5%;
    }
  
    #searchContainer {
        width: 80%;
        height: 50%;
    }

    .searchDefault{
      background-color: #E4E4E4;
      border: 1px solid #444;
      border-radius: 16px;
      height: 50%;
      width: 80%;
      padding-left: 5%;
      font-size: 100%;
      outline: none;
      box-sizing: border-box;
    }


    .onSearch {
        background-color: #E4E4E4;
        border: 1px solid #444;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        height: 50%;
        width: 80%;
        padding-left: 5%;
        font-size: 100%;
        outline: none;
        box-sizing: border-box;
        border-bottom-color: #888;
    }

    .searchResultsDefault {
        visibility: invisible;
        width: 80%;
        background-color: #E4E4E4;
        text-align: center;
        position: absolute;
        z-index: 1;
        top: 75%;
        left: 10%;
        position: absolute;
        z-index: 1;
        font-size: 1vw;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        font-family: 'Poppins', sans-serif;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        color: #444;
        
    }

    .visible {
        visibility: visible;
    }

  
    .logOut {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #CAF0F8;
        border-radius: 16px;
        margin-right: 5%;
        width: 10vw;
        height: 100%;
  
    }
  
    .logOut img {
        padding-left: 25%;
        width:24%;
        height: auto;
    }
  
    .logOut p {
      font-family: 'Poppins', sans-serif;
      font-size: 1.8vw;
      padding-right: 25%;
      font-weight: 700;
      padding-left: 10%;
  }
  
    .menu {
        background-color:#0077B6;
        width: 25vw;
        margin-top: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        position: sticky;
        top: 0;
    }


    .menu ul {
        margin-top: 0;
        list-style-type: none;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 2vw;
        color: #FFF;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: px;
        padding: 0;
        margin: 0;
        width: 80%;
        height: 40vh;

    }


    .menu li {
        height: 20%;
    }

    .MenuItemContainer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .MenuItemContainer img {
        width: 15%;
        height: auto;
        filter: invert(100%);
    }

    .MenuItemContainer p {
        margin-left: 8%;
    }

    #feed {
        background-color: #00B4D8;
        width: 75vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        
    }

    #feedPageContent {
        display: flex;
    }

    #publishPiu {
        width: 72%;
        height: 50%;
        background-color: #FFF;
        margin-left: 14%;
        margin-top: 10%;
        border-radius: 32px;
        padding: 2% 4% 2% 4%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #publishPiuHeader {
        font-size: 3.5vh;
        font-family: 'Poppins', sans-serif;
        color: #08045E;
        font-weight: bold;
    }

    #publishPiuHeader p {
        margin: 0;
    }

    #photoPublish {
        height: 5vw;
        width: 5vw;
        border-radius: 50%;
        background: #AAA;
    }

    #postWriteContainer{
        width: 80%;
        height: 5vw;
        position: relative;
        display: inline-block;
    }

    .postWriteErrorHidden {
        visibility: hidden;
    }

    .postWriteErrorVisible {
        visibility: visible;
        width: 30%;
        background-color: #e5383b;
        color: #fff;
        text-align: center;
        position: absolute;
        z-index: 1;
        top: 110%;
        left: 12%;
        margin-left: -60px;
        position: absolute;
        padding: 1%;
        z-index: 1;
        font-size: 1vw;
        border-radius: 16px;
        font-family: 'Poppins', sans-serif;
    }

    .postWriteErrorVisible::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #e5383b transparent;
    }

    #postWrite{
        background-color: #E4E4E4;
        border: 1px solid #444;
        border-radius: 16px;
        font-size: 16px;
        height: 100%;
        box-sizing: border-box;
        width: 100%;
        padding: 2%;
        font-family: 'Poppins', sans-serif;
        color: #444;
        resize: none;
        overflow: hidden;
    }

    #postWrite:focus {
        outline: none;
    } 

    #publishField {
        display: flex;
        height: 50%;
        justify-content: space-between;
        align-items:center;
        padding-top: 1%;
    }

    #interactionBlockPublish {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 4%;
    }

    #cont {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        color: #444;
    }

    #publishButton{
        width: 15%;
        border-radius: 8px;
        background-color: #08045E;
        font-family: 'Poppins', sans-serif;
        font-size: 80%;
        color: #FFF;
        box-sizing: border-box;
        padding: 8px;
        cursor: pointer;
        outline: none;
        border: none;
        margin-left: 2%;
        box-shadow: 0 0.15vw #999;
    }

    #publishButton:active {
        box-shadow: 0 0.2vw #666;
        transform: translateY(0.16vw);
        background-color:#05023a;
    }

    #cleanButton{
        width: 15%;
        border-radius: 8px;
        background-color: #00B4D8;
        font-family: 'Poppins', sans-serif;
        font-size: 80%;
        color: #FFF;
        box-sizing: border-box;
        padding: 8px;
        border-width: 0;
        margin-left: 2%;
        cursor: pointer;
        outline: none;
        border: none;
        box-shadow: 0 0.15vw #999;
    }

    #cleanButton:active {
        box-shadow: 0 0.2vw #666;
        transform: translateY(0.16vw);
        background-color: #028da8;
    }

    #postArea {
        width: 72%;
        margin-left: 14%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .postOther {
        width: 100%;
        background-color: #FFF;
        margin-top: 10vh;
        border-radius: 24px;
        padding: 3.8%;

    }

    .profileInfo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }


    .imagePost {
        height: 4vw;
        width: 4vw;
        border-radius: 50%;
    }

    .userOfThePost {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 1vw;
        height: 100%;
    }

    .fullName {
        margin: 0;
        font-size: 24px;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.01em;
        color: #000000;
    }

    .userName {
        margin: 10% 0 0 0;
        font-size: 12px;
        font-family: 'Poppins', sans-serif;
        margin: 0;
        font-weight: 500;
        font-family: Poppins;
        font-style: normal;
        line-height: 16px;
        letter-spacing: 0.4px;

        
    }

    .otherContent {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.44px;
        color: #444444;
        width: 100%;
        word-wrap: break-word;
        margin-bottom: 2%;
        
    }

    .interaction {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .likes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        width: 8%;
    }

    .interaction img {
        height: 2vw;
        width: 2vw;
        margin-left: 3%;
    }

    .likes p {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 20px;
        letter-spacing: 0.25px;
        margin: 0 0 5% 0;
        color: #08045E;
        padding-right: 1%;
    }


    





    










